/*Color/style variables*/
:root {
    --main-bg-color: #222;
    --main-text-color: rgb(252, 254, 251);
    --minor-text-color: rgb(187, 182, 182);
    --alt-text-color: rgb(6,5,3);
}

/*Fonts*/
@font-face {
    font-family: 'Showtime';
    src: url('/Content/fonts/Showtime.ttf') format("truetype");
}

@font-face {
    font-family: 'Rialto';
    src: url('/Content/fonts/RialtoNF.ttf') format("truetype");
}

@font-face {
    font-family: 'Great Attraction';
    src: url('/Content/fonts/Great Attraction.otf') format('opentype');
}

/*Main Styling*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

body input {
    color: var(--alt-text-color);
}

.navbar a {
    color: var(--main-text-color);
}

.row {
    margin: 0;
}

.text-info {
    color: var(--minor-text-color)
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
`
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.noticeable {
    text-decoration: underline;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

/*img.marquee {
    height: 300px;
    width: auto;
}*/

.marqueeSection {
    /*background: url(/Content/images/marquee.png); todo: replace with proper styling*/ 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

.marqueeContent {
    top: 163px;
    /*position: relative;*/
    background: white;
    border-radius: 3px;
    padding: 10px;
}

.darkText {
    color: var(--alt-text-color) !important;
}

.showtime-bg {
    font-family: Showtime;
    vertical-align: super;
    font-size: large;
}

.rialto {
    font-family: Great Attraction;
    vertical-align: super;
    font-size: medium;
    padding-top: 0 !important;
    font-weight: 100 !important;
}

.rialto-lg {
    font-family: Great Attraction;
    vertical-align: super;
    font-size: x-large;
    padding-top: 0 !important;
    font-weight: 100 !important;
}

.margin-bottom-sm {
    margin-bottom: 6px !important;
}

.box-office-input {
    border-radius: 0 !important;
    border-color: black;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.alt-text {
    color: var(--alt-text-color) !important;
}

.main-text {
    color: var(--main-text-color) !important;
}

.main-link {
    color: var(--main-text-color) !important;
}