/*Variables*/
:root {
    --main-bg-color: #222;
    --main-text-color: rgb(252, 254, 251);
    --minor-text-color: rgb(187, 182, 182);
    --alt-text-color: rgb(6,5,3);
    --marquee-color: #fdffe8;
    --marquee-header: #c71c1c;
    --marquee-selected: #921111;
}

/*Fonts*/
@font-face {
    font-family: 'Showtime';
    src: url('/Content/fonts/Showtime.ttf') format("truetype");
}

@font-face {
    font-family: 'Rialto';
    src: url('/Content/fonts/RialtoNF.ttf') format("truetype");
}

@font-face {
    font-family: 'Great Attraction';
    src: url('/Content/fonts/Great Attraction.otf') format('opentype');
}

@font-face {
    font-family: 'Arista';
    src: url('/Content/fonts/arista/Arista Light Trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Highway Gothic';
    src: url('/Content/fonts/highwayGothic/HWYGOTH.TTF') format('truetype');
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.times {
    font-family: 'Times New Roman', Times, serif;
}

.highway-gothic {
    font-family: 'Highway Gothic';
}

.tw-cen-mt {
    font-family: 'Tw Cen MT';
}

.great-attraction {
    font-family: 'Great Attraction';
}

.showtime {
    font-family: Showtime;
}

.rialto {
    font-family: Rialto;
    font-weight: 100 !important;
}

.rialto-lg {
    font-family: Great Attraction;
    vertical-align: super;
    font-size: x-large;
    padding-top: 0 !important;
    font-weight: 100 !important;
}

/*Main Styling*/
html {
    margin: 0 auto;
}

body {
    padding-top: 25px;
    padding-bottom: 20px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    height: 100%;
    min-width: 405px;
    font-family: 
}

h1, h2, h3, h4, h5 {
    font-family: Arista
}

body input {
    color: var(--alt-text-color);
}

footer {
    margin-top: 50px;
}

.navbar a {
    color: var(--main-text-color);
}

.minor-info {
    color: var(--minor-text-color)
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a.noticeable {
    text-decoration: underline;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*Marquee*/
.border-inner {
    border: 1px solid var(--marquee-color);
    border-radius: 5px;
    margin: 3px;
}

.border-outer {
    border-top: 8px solid var(--marquee-color);
    border-left: 4px solid var(--marquee-color);
    border-right: 4px solid var(--marquee-color);
    border-bottom: 8px solid var(--marquee-color);
    border-radius: 5px;
}

.border-bottom-thick {
    border-bottom: 4px solid var(--marquee-color);
}

.marqueeSection {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

.marqueeContent {
    background: white;
    border-radius: 3px;
    margin: 4px;
    margin-top: 20px;
}

.marqueeContent label {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 36px;
    line-height: 36px;
}

.marqueeContent hr {
    background-color: black;
    margin: 0;
    border: none;
    height: 1px;
}

.marqueeContent .form-group {
    margin-bottom: 0;
}

.marqueeContent .form-control {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 4px;
    margin-bottom: 2px;
    font-family: 'Highway Gothic'
}

.marqueeContent .form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.marqueeContent .row {
    margin-left: 0;
    margin-right: 0;
}

.marquee-title {
    text-align: center;
    font-size: xx-large;
}

.marquee-selected {
    color: var(--marquee-selected) !important;
    font-weight: bold;
}

.marquee-unselected {
    text-decoration: underline !important;
    color: var(--marquee-header) !important;
    cursor: pointer !important;
}

.darkText {
    color: var(--alt-text-color) !important;
}

.margin-bottom-sm {
    margin-bottom: 6px !important;
}

.alt-text {
    color: var(--alt-text-color) !important;
}

.main-text {
    color: var(--main-text-color) !important;
}

.main-link {
    color: var(--main-text-color) !important;
}

.inline-img {
    vertical-align: baseline;
}

.border-dashed-1 {
    border-image: url(images/border.png) 30% round;
}

.bg-main {
    background-color: var(--main-bg-color);
}

.arista {
    font-family: Arista;
}

.pointer {
    cursor: pointer;
}

.validation-summary-valid {
    display: none;
}

.field-validation-valid {
    display: none;
}

#loginForm .validation-summary-errors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text-danger {
    color: var(--marquee-header) !important;
}