@using MovieDemo.Util
@model MovieDemo.Models.MovieSearchViewModel
@{
    ViewBag.Title = $"{AppValues.APP_NAME} - Search Results";
    //var hasImdb = !string.IsNullOrEmpty(Model.ImdbID);
}

<div class="container">
    @foreach (var mov in Model.Results)
    {
        <div class="row">
            <div class="col-12">
                @Html.ActionLink(mov.Title, "Detail", "Movie", new { id = mov.Id }, new { @class = "main-link" })
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}