@{
    ViewBag.Title = "About the creator";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This site has been created by Austin Thompson. It uses data from the <a class="noticeable" href="http://www.omdbapi.com/" target="_blank">OMDb API</a></p>
