@using MovieDemo.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home";
}
<div class="bg-main offset-lg-2 col-lg-8">
    <div class="marqueeContent darkText highway-gothic px-0 py-1">

        @*Display login (if not logged in)*@
        @if (!Request.IsAuthenticated)
        {
            using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <hr />

                //Log in
                <div class="form-group row">
                    <label class="display-4 col-12 text-center marquee-header">
                        <a class="marquee-selected">LOG IN</a> / <a class="marquee-unselected">SIGN UP</a>
                    </label>
                </div>

                <hr />

                //Email
                <div class="form-group row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-form-label col-md-4 col-lg-4 col-xl-4" })
                    <div class="col-md-8 col-lg-8 col-xl-8">
                        @Html.TextBoxFor(m => m.Email,
                            new { @class = "form-control box-office-input" })
                    </div>
                </div>

                <hr />

                //Password
                <div class="form-group row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-form-label col-md-4 col-lg-4 col-xl-4" })
                    <div class="col-md-8 col-lg-8 col-xl-8">
                        @Html.PasswordFor(m => m.Password,
                            new { @class = "form-control box-office-input" })
                    </div>
                </div>
                <hr />
            }
        }

    </div>
</div>