@using MovieDemo.Models
@using MovieDemo.Util

@model LoginViewModel

@{
    Layout = null;
}

<hr />

<div class="form-group row">
    <label class="display-4 col-12 text-center marquee-header" id="marquee-header">
        LOGIN SUCCESS!
    </label>
</div>